:root {
    --main-color: aliceblue;
    --bg-color: #2f3341;
    --font-main: monospace;
    --radius: 8px;
  }

* {
    font-family: var(--font-main);
    color: var(--main-color);
    background-color: var(--bg-color);
}

textarea {
    color: var(--main-color);
    background-color: var(--bg-color);
    border: wheat 2px solid;
    border-radius: 10px;
}

input {
    color: var(--main-color);
    background-color: var(--bg-color); 
    border: wheat 2px solid;
    border-radius: 5px;  
}

a {
    color: red;
    background-color: var(--bg-color);     
}